header{
    background-color: rgb(160, 49, 220);
    height: 85px;
    text-align: center;

}
h1{
    color: #fff;
}
h3{
    color: rgb(160, 49, 220);
    text-decoration: underline rgb(245, 188, 45);
}
h2{
    
        color: rgb(160, 49, 220);
        text-decoration: underline rgb(245, 188, 45);
        font-size: 25;
    
}
p{
    color:#fff;
}
nav ul li{
    display: inline;
    margin: 0 10px;
    text-align: center;
}
nav ul li a{
    color:#333;
    font-weight: bolder;
    text-decoration: none;
}
.image{
    margin-top: 130px;
    margin-left: ;
    background-color:rgb(160, 98, 218); 
    text-align: center;
}
#abt{
    border-radius: 25px;
    margin-left: 420px;
    margin-top: 2px;
}
.ver{
    margin-left: 10px;
    margin-top: 50px;
}
.img{
    margin-top: 10px;
    align-items: center;
}

ul a{
    text-decoration: none;
    color: black;
}